//
//  Accordion Element Variables
//  ---------------------------------------------

// $accordion-element__container__class: 'accordion-element-container';
// $accordion-element__ul__class: 'accordion-list';
// $accordion-element__li__class: 'accordion-item';
// $accordion-element__active__class: 'open';

// $accordion-element__container__width: 100%;

// $accordion-element__ul__list-style: none;
// $accordion-element__ul__padding: 0;
// $accordion-element__ul__margin: 0;

// $accordion-element__li__margin: 0 0 10px;
// $accordion-element__li__last-child__margin: 0;

// $accordion-element__button__background: none;
// $accordion-element__button__cursor: pointer;
// $accordion-element__button__width: 100%;
$accordion-element__button__padding: 30px 0 0;
// $accordion-element__button__display: flex;
// $accordion-element__button__flex-direction: row;
// $accordion-element__button__align-items: center;
// $accordion-element__button__justify-content: space-between;
$accordion-element__button__border-color: project(3);
// $accordion-element__button__border-style: solid;
// $accordion-element__button__border-width: 0 0 1px 0;

$accordion-element__button-text__font-size: 24;
$accordion-element__button-text__line-height: 40;
$accordion-element__button-text__font-weight: $font-weight__medium;
// $accordion-element__button-text__font-family: $font-family__base;

// $accordion-element__button-icon__transition: transform .25s ease-in-out;
// $accordion-element__button-icon__width: 20px;
// $accordion-element__button-icon__height: 20px;
// $accordion-element__button-icon__svg__width: 100%;
// $accordion-element__button-icon__svg__height: 100%;

// $accordion-element__content__display: none;
// $accordion-element__content__padding: 15px 0;

// $accordion-element__li__open__button-icon__transform: rotate(180deg);
// $accordion-element__li__open__content__display: block;