//
//  Core Configuration
//  @version: 1.0.0
//  ---------------------------------------------

$elements: (
  'headline-element': false,
) !default;

$contents: (
  'general': false,
  'lists': false,
  'cta-container': false,
  'sections': false,
  'media-element': false,
  'accessibility': false,
  'default-typo': false,
) !default;

$appConfiguration: (
  css-colors: false,
  elements: $elements,
  contents: $contents,
  flex-grid: false,
  css-grid: false,
  container-sizes: false,
  default-cta: false,
  default-headlines: false,
) !default;