//
//  Navigation
//  ---------------------------------------------

$component__navigation__background-color: rgba(var(--base__color-1__rgb), 0.03);
$component__navigation__border-color: rgba(var(--base__color-1__rgb), 0.1);

@include media('mobile') {

  nav.navigation-container {
    width: 100%;
    padding: 20px 0 20px;
    background-color: $component__navigation__background-color;
    border-bottom: 1px solid $component__navigation__border-color;

    .logo {
      width: 65px;
      img{ width: 100%; height: auto; }
    }
  }

}