//
//  Navigation
//  ---------------------------------------------

$component__navigation__background-color: rgba(var(--base__color-2__rgb), 0.5);
$component__navigation__border-color: rgba(var(--base__color-1__rgb), 0.05);
$component__navigation__link__color: var(--base__color-1);

@include media('mobile') {

  nav.navigation-container {
    margin: 0 auto;
    padding: 12px 22px;
    background-color: $component__navigation__background-color;
    backdrop-filter: blur(3px);
    border: 1px solid $component__navigation__border-color;
    border-radius: 120px;

    position: fixed;
    z-index: 5;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    .logo {
      width: 36px;
      img{ width: 100%; height: auto; }
      a{ display: flex; }
    }

    ul.navigation-list{
      li.navigation-list-item{
        list-style: none;
        a{
          @include typo(14, 18);
          color: $component__navigation__link__color;
          text-decoration: none;
          font-weight: $font-weight__bold;
        }
      }
    }
  }

}

@include media('tablet-down') {

  nav.navigation-container {
    left: 20px;
    top: 20px;
    right: 20px;
    width: calc(100% - 40px);
    transform: translateX(0);
  }

}

@include media('tablet') {

  nav.navigation-container {
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 520px;
  }

}