//  Component: Hamburger
//  --------------------------------------------------

//  Import global helpers
//  --------------------------------------------------

@import '@s/scss/project/required.scss';

//  Styles
//  --------------------------------------------------

@include media('mobile') {

  .hamburger{
    all: unset;
    width: 28px;
    height: 22px;
    display: flex;
    position: relative;
    cursor: pointer;
  
    > span,
    > span::after,
    > span::before {
      display: block;
      width: 100%;
      height: 3px;
      border-radius: 20px;
    }
  
    > span {
      position: relative;
      background-color: var(--base__color-1);
      transition: all .15s cubic-bezier(0.075, 0.82, 0.165, 1);
      top: 50%;
      transform: translateY(-50%);
  
      &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 10px;
        width: 100%;
        background-color: var(--base__color-1);
        transition:
                bottom .15s .15s cubic-bezier(0.23, 1, 0.32, 1),
                transform .15s cubic-bezier(0.23, 1, 0.32, 1);
      }
  
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top:  10px;
        background-color: var(--base__color-1);
        transition:
                top .15s .15s cubic-bezier(0.23, 1, 0.32, 1),
                transform .15s cubic-bezier(0.23, 1, 0.32, 1);
      }
    }
  
    &.is-active {
      > span{
        background-color: rgba(var(--base__color-1__rgb), 0);
  
        &::before {
          background-color: var(--base__color-1);
          transform: rotate(-45deg);
          bottom: 0;
          transition:
                  bottom .15s cubic-bezier(0.23, 1, 0.32, 1),
                  transform .15s .15s cubic-bezier(0.23, 1, 0.32, 1);
        }
  
        &::after {
          background-color: var(--base__color-1);
          transform: rotate(45deg);
          top: 0;
          transition:
                  top .15s cubic-bezier(0.23, 1, 0.32, 1),
                  transform .15s .15s cubic-bezier(0.23, 1, 0.32, 1);
        }
      }
    }
  }

}

// min-1024
@include media('tablet-wide') {

  .hamburger{
    &.hide-on-desktop{
      display: none;
    }
  }

}