//
//  Accessibility
//  ---------------------------------------------


//  Variables
//  ---------------------------------------------

$component__accessibility__default__body__class: 'tab-navigation' !default;
$component__accessibility__default__focus__outline: 1px dashed $font-color__base !default;
$component__accessibility__default__focus__border__color__reset: transparent !default;
$component__accessibility__default__focus__outline__offset: 2px !default;