//
//  CTA-Container
//  ---------------------------------------------


//  Variables
//  ---------------------------------------------

$component__cta-container__default__width: 100% !default;
$component__cta-container__default__margin: 15px 0 0 !default;
$component__cta-container__default__display: flex !default;
$component__cta-container__default__flex-flow: row wrap !default;
$component__cta-container__default__align-items: center !default;
$component__cta-container__default__justify-content: flex-start !default;
$component__cta-container__default__gap: 15px !default;
$component__cta-container__default__align-center__justify-content: center !default;
$component__cta-container__default__align-right__justify-content: flex-end !default;
