//
//  Media Elements
//  ---------------------------------------------


//  Variables
//  ---------------------------------------------

$component__media__default__image: true !default;
$component__media__default__video: true !default;
$component__media__default__iframe: true !default;
$component__media__default__audio: true !default;

$component__media__default__iframe__ratio: 56.25% !default;


//  Mixins & Functions
//  ---------------------------------------------

@mixin create-media-element(
  $image: $component__media__default__image,
  $video: $component__media__default__video,
  $iframe: $component__media__default__iframe,
  $audio: $component__media__default__audio,
) {
  .media{
    width: 100%;
    
    @if ($image == true) {
      img{
        max-width: 100%;
        height: auto;
      }
    }

    @if ($video == true) {
      video{
        width: 100%;
      }
    }

    @if ($iframe == true) {
      &.iframe{
        display: inline-block;
        padding: 0;
        margin: 0;
        padding-top: $component__media__default__iframe__ratio;
        height: 0;
        position: relative;
        z-index: 1;
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 2;
        }
      }
    }

    @if ($audio == true) {
      audio{
        width: 100%;
      }
    }

  }
}