//
//  Generals
//  ---------------------------------------------


//  Variables
//  ---------------------------------------------

// $component__general__default__html__overflow: auto;
// $component__general__default__html__scroll-behavior: smooth;
// $component__general__default__html__font-size: 100%;

// $component__general__default__all__box-sizing: border-box;
// $component__general__default__all__margin: 0;
// $component__general__default__all__padding: 0;
// $component__general__default__all__webkit-font-smoothing: antialiased;
// $component__general__default__all__moz-osx-font-smoothing: grayscale;
// $component__general__default__all__webkit-text-size-adjust: 100%;

// $component__general__default__body__font-size: $font-size__base;
// $component__general__default__body__line-height: $line-height__base;
// $component__general__default__body__font-weight: $font-weight__base;
// $component__general__default__body__font-family: $font-family__base;
// $component__general__default__body__text-color: $font-color__base;
// $component__general__default__body__background-color: color($base, 2);
// $component__general__default__body__height: 100%;
// $component__general__default__body__min-width: 320px;

$component__general__default__body__padding__xs: 0;
$component__general__default__body__padding__l: 0;