//
//  Content Sizes
//  ---------------------------------------------

$content-sizes: empty-map() !default;

$content-size__gap__tablet-down: 20px !default;
$content-size__gap__tablet: 30px !default;
$content-size__margin: 0 auto !default;
$content-size__width: 100% !default;
