//
//  Teaser
//  ---------------------------------------------

$component__teaser__background-color: rgba(var(--base__color-1__rgb), 0.05);

$component__teaser__bg-color-map: (
  0: lighten(base(4), 3%),
  1: base(4),
);

@include media('mobile') {

  .teaser-element-container {
    width: 100%;

    .teaser-item{
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      flex: 1;
      min-height: 240px;
      padding: 25px;
      border-radius: 8px;
      gap: 12px;

      background-color: color($component__teaser__bg-color-map, 0);
      border: 1px solid color($component__teaser__bg-color-map, 0);

      @each $key, $value in $component__teaser__bg-color-map {
        &.layout-#{$key} {
          background-color: $value;
          border-color: darken($value, 10%);
          h3{ color: darken($value, 50%); }
          p{ color: darken($value, 40%); }
        }
      }

      .cta{ margin-top: auto; }
    }

  }

}