//
//  Configuration: Project
//  ---------------------------------------------

$elements: (
  'headline-element': true,
);

$contents: (
  'general': true,
  'lists': true,
  'cta-container': true,
  'sections': true,
  'media-element': true,
  'accessibility': true,
  'default-typo': true,
);

$appConfiguration: (
  css-colors: true,
  elements: $elements,
  contents: $contents,
  flex-grid: false,
  css-grid: true,
  container-sizes: true,
  default-cta: true,
  default-headlines: true,
);